<div id="fullpage">
	<div class="section active" id="section0 Interview">
		<div class="slide" class="StoryIntro">
      <img src="pics/境外面談.png" alt="InterviewTitle" class="StoryTitle" >
      <img src="pics/interview.gif" rel:animated_src="pics/interview.gif" width="600" height="600" rel:auto_play="1" rel:rubbable="1" / alt="InterviewPic" class="StoryPic" id="ScrollFixedOn">
      <p class="IntroWord">
        三年前，越南籍的小美來台當移工，認識了台灣人小明。兩人日久生情，小美結束工作返越後，兩人萌生在台共組家庭的念頭。<br>沒想到小美的移工身分，竟成為他們在入境結婚前「境外面談」的阻礙。為了確定兩人在越南婚姻的真實性，除了被迫回答夫妻間私密問題，也因生活瑣事問答的陳述不一，遭外交部駁回，導致小明在兩國來回奔波多年，因他們未能在台正式定居。
      </p>
		</div>
		<div class="slide" class="LawBad">
      <img src="pics/境外面談-20.png" alt="InterviewLawBadTitle" class="LawBadTitle">
      <h2 class="lawSubTitle">面談審核過於主觀</h2>
      <img src="pics/lawpic/境外面談主觀.gif" alt="InterviewLawBadPic" class="LawBadPic">
      <p class="LawBadWord">
        依《入出國及移民法》第23條，如果經外交部加註限制「延期入國有效簽證」，新移民便不得向入出國及移民署申請居留。然而，外交部的境外面談非由相關專家負責，加上駐外人力有限，面談審核依據太過主觀，都影響到新移民配偶的家庭團聚權。
      </p>
		</div>
    <div class="slide" class="LawBad">
      <img src="pics/境外面談-20.png" alt="InterviewLawBadTitle" class="LawBadTitle">
      <h2 class="lawSubTitle">境外面談僅限21國</h2>
      <img src="pics/lawpic/國家小人.gif" alt="InterviewLawBadPic" class="LawBadPic">
      <p class="LawBadWord">
        一般歐美或日本配偶，只要申請母國單身證明，經外館驗證就能來台辦理結婚。但外交部為了「維護國境安全、防制人口販運、防範外國人假借依親名義來台從事與原申請簽證目的不符之活動」，對21國特設境外面談關卡，實屬歧視。<br>名單：蒙古、哈薩克、白俄羅斯、烏克蘭、烏茲別克、巴基斯坦、尼泊爾、不丹、印度、孟加拉、緬甸、塞內加爾、迦納、奈及利亞、喀麥隆、越南、菲律賓、泰國、斯里蘭卡、印尼、柬埔寨。
      </p>
		</div>
		<div class="slide" class="LawGood">
      <img src="pics/境外面談-21.png" alt="InterviewLawGoodTitle" class="LawGoodTitle">
      <h2 class="lawSubTitle">一視同仁</h2>
      <img src="pics/lawpic/一視同仁.gif" alt="InterviewLawGoodPic" class="LawGoodPic">
      <p class="LawGoodWord">
        外交部特別標明21國，明顯為貶抑這些國家而訂定歧視性政策，背後邏輯假設他們為「假結婚嫌疑犯」，標籤化他國人民。設置境外面談制度，應當對所有外國移民一視同仁，並明定客觀面談規章，而非由非專業人士自行提問侵犯隱私之問題。
      </p>
		</div>
    <div class="slide" class="LawGood">
      <img src="pics/境外面談-21.png" alt="InterviewLawGoodTitle" class="LawGoodTitle">
      <h2 class="lawSubTitle">交還最終裁決權</h2>
      <img src="pics/lawpic/最終裁決.gif" alt="InterviewLawGoodPic" class="LawGoodPic">
      <p class="LawGoodWord">
        監察院於2009年對外交部的糾正案中指出，新移民配偶和一般外國人不同，對新移民配偶簽證的核發，除了牽涉到國家層面的打擊人口販運，更嚴重牽涉到我國公民的家庭團聚權。境外面談的程序固然重要，但是應將最終裁決權交還移民署。
      </p>
		</div>
	</div>
  <div class="section active" id="section1 Behavior">
		<div class="slide" class="StoryIntro">
      <img src="pics/素行不良.png" alt="BehaviorTitle" class="StoryTitle">
      <img src="pics/nogood.gif" rel:animated_src="pics/nogood.gif" width="600" height="600" rel:auto_play="1" rel:rubbable="1" / alt="BehaviorPic" class="StoryPic">
      <p class="IntroWord">
        李佩香表示，如果因微罪而無法取得台灣身分證或被撤銷國籍，即是國家的政策對於新移民的壓迫，此條款將讓新移民一直過著不安的生活。<br>無不良素行條款將許多微小的行為，如：未盡撫養義務等等，都納入規定範圍，一旦違反就不許歸化，她認為這是對移民姊妹的歧視。甚至有些新移民因夫妻爭吵被舉報假結婚，也會被撤銷國籍，淪為無國籍者。
      </p>
		</div>
		<div class="slide" class="LawBad">
      <img src="pics/素行不良-20.png" alt="BehaviorLawBadTitle" class="LawBadTitle">
      <h2 class="lawSubTitle">素行不良定義模糊</h2>
      <img src="pics/lawpic/素行不良爭吵.gif" alt="ViolenceLawBadPic" class="LawBadPicSmall">
      <img src="pics/lawpic/素行不良假結婚.gif" alt="ViolenceLawBadPic" class="LawBadPicSmall">
      <img src="pics/lawpic/素行不良撤銷身份.gif" alt="ViolenceLawBadPic" class="LawBadPicSmall">
      <p class="LawBadWord">
        依《國籍法》第3條，新住民歸化要件三：「無不良素行，且無警察刑事紀錄證明之刑事案件紀錄。」「不良素行」不僅定義模糊，並將許多微小行為如未盡撫養義務等，都納入規定範圍，一旦違反就不許歸化，甚至有些新移民因夫妻爭吵被舉報假結婚，也會被撤銷國籍，淪為無國籍者。
      </p>
		</div>
    <div class="slide" class="LawBad">
      <img src="pics/素行不良-20.png" alt="BehaviorLawBadTitle" class="LawBadTitle">
      <h2 class="lawSubTitle">五年內違反則喪失國籍</h2>
      <img src="pics/lawpic/五年內違法.gif" alt="ViolenceLawBadPic" class="LawBadPicSmall">
      <img src="pics/lawpic/素行不良撤銷身份.gif" alt="ViolenceLawBadPic" class="LawBadPicSmall">
      <p class="LawBadWord">
        依《國籍法》第19條：「新移民歸化、喪失或回復中華民國國籍後，五年內發現有與本法之規定不合情形，應予撤銷。」這讓國家能在五年內，以剝奪公民權做為威脅及懲罰手段，讓違反素行不良條規或因故破產的新移民喪失國籍，嚴重侵害人權。
      </p>
		</div>
		<div class="slide" class="LawGood">
      <img src="pics/素行不良-21.png" alt="BehaviorLawGoodTitle" class="LawGoodTitle">
      <h2 class="lawSubTitle">訂定明確犯法標準</h2>
      <img src="pics/lawpic/明定刑事案件.gif" alt="BehaviorLawGoodPic" class="LawGoodPic">
      <p class="LawGoodWord">Behavior Law Good</p>
		</div>
    <div class="slide" class="LawGood">
      <img src="pics/素行不良-21.png" alt="BehaviorLawGoodTitle" class="LawGoodTitle">
      <h2 class="lawSubTitle">制定合理行政救濟</h2>
      <img src="pics/lawpic/行政救濟.gif" alt="BehaviorLawGoodPic" class="LawGoodPic">
      <p class="LawGoodWord">Behavior Law Good</p>
		</div>
	</div>

  <div class="section active" id="section2 Violence">
		<div class="slide" class="StoryIntro">
      <img src="pics/家庭暴力.png" alt="ViolenceTitle" class="StoryTitle">
      <img src="pics/violence.gif" rel:animated_src="pics/violence.gif" width="600" height="600" rel:auto_play="1" rel:rubbable="1" / alt="ViolencePic" class="StoryPic">
      <p class="IntroWord">
        安安23歲時嫁來台灣，期盼幸福新生活。婚後，她希望能外出工作賺錢，但先生嚴厲禁止，並限制其對外通訊管道，不允許她和新移民朋友相聚。生下孩子後，情況每況愈下，先生常在酒後毆打她，更會辱罵小孩。無法繼續忍氣吞聲的她，開始尋找社會資源，希望爭取到孩子監護權，與續留台灣的合法居留權。
      </p>
		</div>
		<div class="slide" class="LawBad">
      <img src="pics/家庭暴力-20.png" alt="ViolenceLawBadTitle" class="LawBadTitle">
      <h2 class="lawSubTitle">家暴離婚被迫回國</h2>
      <img src="" alt="ViolenceLawBadPic" class="LawBadPic">
      <p class="LawBadWord">
        依現行《入出國及移民法》第31條，新移民配偶遭家暴離婚而無未成年子女監護權時，居留期滿就必須離境；即使取得子女監護權，只要沒有歸化成功或取得永久居留身分，也只能合法在台居留到子女20歲。
      </p>
		</div>
    <div class="slide" class="LawBad">
      <img src="pics/家庭暴力-20.png" alt="ViolenceLawBadTitle" class="LawBadTitle">
      <h2 class="lawSubTitle">取得監護權困難重重</h2>
      <img src="pics/lawpic/家庭暴力收入不足.png" alt="ViolenceLawBadPic" class="LawBadPicSmall">
      <img src="pics/lawpic/家庭暴力無工作.png" alt="ViolenceLawBadPic" class="LawBadPicSmall">
      <p class="LawBadWord">
        然而，取得子女監護權對新移民配偶來說是困難重重。因為若其沒有謀生能力，或收入不足以支付保母費時，法官不會將監護權判給新移民配偶。若被遣送回國，離婚的新住民配偶只能定期來台探訪子女。
      </p>
		</div>
		<div class="slide" class="LawGood">
      <img src="pics/家庭暴力-21.png" alt="ViolenceLawGoodTitle" class="LawGoodTitle">
      <img src="pics/lawpic/家庭暴力修改法律1.gif" alt="ViolenceLawGoodPic" class="LawGoodPicSmall">
      <img src="pics/lawpic/居留證.png" alt="ViolenceLawGoodPic" class="LawGoodPicSmall">
      <p class="LawGoodWord">
        放寬離婚新移民配偶的居留權條件，若其取得子女監護權，不限制其只能合法在台居留到子女20歲便須備遣送回國。
      </p>
		</div>
	</div>
</div>


<!-- Swiper -->
   <div class="swiper-container swiper-container-h">
       <div class="swiper-wrapper">
           <div class="swiper-slide" style="height: 1740px;">
             <div class="swiper-container swiper-container-v">
               <!-- Interview Story -->
                 <div class="swiper-wrapper" id="Interview">
                     <div class="swiper-slide" class="StoryIntro">
                       <img src="pics/境外面談.png" alt="InterviewTitle" class="StoryTitle" >
                       <img src="pics/interview.gif" rel:animated_src="pics/interview.gif" width="600" height="600" rel:auto_play="1" rel:rubbable="1" / alt="InterviewPic" class="StoryPic" id="ScrollFixedOn">
                       <p class="IntroWord">
                         三年前，越南籍的小美來台當移工，認識了台灣人小明。兩人日久生情，小美結束工作返越後，兩人萌生在台共組家庭的念頭。<br>沒想到小美的移工身分，竟成為他們在入境結婚前「境外面談」的阻礙。為了確定兩人在越南婚姻的真實性，除了被迫回答夫妻間私密問題，也因生活瑣事問答的陳述不一，遭外交部駁回，導致小明在兩國來回奔波多年，因他們未能在台正式定居。
                       </p>
                     </div>
                     <div class="swiper-slide" class="LawBad">
                       <img src="pics/境外面談-20.png" alt="InterviewLawBadTitle" class="LawBadTitle">
                       <h2 class="lawSubTitle">面談審核過於主觀</h2>
                       <img src="pics/lawpic/境外面談主觀.gif" alt="InterviewLawBadPic" class="LawBadPic">
                       <p class="LawBadWord">
                         依《入出國及移民法》第23條，如果經外交部加註限制「延期入國有效簽證」，新移民便不得向入出國及移民署申請居留。然而，外交部的境外面談非由相關專家負責，加上駐外人力有限，面談審核依據太過主觀，都影響到新移民配偶的家庭團聚權。
                       </p>
                     </div>
                     <div class="swiper-slide" class="LawBad">
                       <img src="pics/境外面談-20.png" alt="InterviewLawBadTitle" class="LawBadTitle">
                       <h2 class="lawSubTitle">境外面談僅限21國</h2>
                       <img src="pics/lawpic/國家小人.gif" alt="InterviewLawBadPic" class="LawBadPic">
                       <p class="LawBadWord">
                         一般歐美或日本配偶，只要申請母國單身證明，經外館驗證就能來台辦理結婚。但外交部為了「維護國境安全、防制人口販運、防範外國人假借依親名義來台從事與原申請簽證目的不符之活動」，對21國特設境外面談關卡，實屬歧視。<br>名單：蒙古、哈薩克、白俄羅斯、烏克蘭、烏茲別克、巴基斯坦、尼泊爾、不丹、印度、孟加拉、緬甸、塞內加爾、迦納、奈及利亞、喀麥隆、越南、菲律賓、泰國、斯里蘭卡、印尼、柬埔寨。
                       </p>
                     </div>
                     <div class="swiper-slide" class="LawGood">
                       <img src="pics/境外面談-21.png" alt="InterviewLawGoodTitle" class="LawGoodTitle">
                       <h2 class="lawSubTitle">一視同仁</h2>
                       <img src="pics/lawpic/一視同仁.gif" alt="InterviewLawGoodPic" class="LawGoodPic">
                       <p class="LawGoodWord">
                         外交部特別標明21國，明顯為貶抑這些國家而訂定歧視性政策，背後邏輯假設他們為「假結婚嫌疑犯」，標籤化他國人民。設置境外面談制度，應當對所有外國移民一視同仁，並明定客觀面談規章，而非由非專業人士自行提問侵犯隱私之問題。
                       </p>
                     </div>
                     <div class="swiper-slide" class="LawGood">
                       <img src="pics/境外面談-21.png" alt="InterviewLawGoodTitle" class="LawGoodTitle">
                       <h2 class="lawSubTitle">交還最終裁決權</h2>
                       <img src="pics/lawpic/最終裁決.gif" alt="InterviewLawGoodPic" class="LawGoodPic">
                       <p class="LawGoodWord">
                         監察院於2009年對外交部的糾正案中指出，新移民配偶和一般外國人不同，對新移民配偶簽證的核發，除了牽涉到國家層面的打擊人口販運，更嚴重牽涉到我國公民的家庭團聚權。境外面談的程序固然重要，但是應將最終裁決權交還移民署。
                       </p>
                     </div>
                 </div>
                 <div class="swiper-pagination swiper-pagination-v"></div>
             </div>
           </div>
           <div class="swiper-slide" style="height: 1740px;">
               <div class="swiper-container swiper-container-v">
                 <!-- Bad Behavior Story -->
                 <div class="swiper-wrapper" id="Behavior">
                     <div class="swiper-slide" class="StoryIntro">
                       <img src="pics/素行不良.png" alt="BehaviorTitle" class="StoryTitle">
                       <img src="pics/nogood.gif" rel:animated_src="pics/nogood.gif" width="600" height="600" rel:auto_play="1" rel:rubbable="1" / alt="BehaviorPic" class="StoryPic">
                       <p class="IntroWord">
                         李佩香表示，如果因微罪而無法取得台灣身分證或被撤銷國籍，即是國家的政策對於新移民的壓迫，此條款將讓新移民一直過著不安的生活。<br>無不良素行條款將許多微小的行為，如：未盡撫養義務等等，都納入規定範圍，一旦違反就不許歸化，她認為這是對移民姊妹的歧視。甚至有些新移民因夫妻爭吵被舉報假結婚，也會被撤銷國籍，淪為無國籍者。
                       </p>
                     </div>
                     <div class="swiper-slide" class="LawBad">
                       <img src="pics/素行不良-20.png" alt="BehaviorLawBadTitle" class="LawBadTitle">
                       <h2 class="lawSubTitle">素行不良定義模糊</h2>
                       <img src="pics/lawpic/素行不良爭吵.gif" alt="ViolenceLawBadPic" class="LawBadPicSmall">
                       <img src="pics/lawpic/素行不良假結婚.gif" alt="ViolenceLawBadPic" class="LawBadPicSmall">
                       <img src="pics/lawpic/素行不良撤銷身份.gif" alt="ViolenceLawBadPic" class="LawBadPicSmall">
                       <p class="LawBadWord">
                         依《國籍法》第3條，新住民歸化要件三：「無不良素行，且無警察刑事紀錄證明之刑事案件紀錄。」「不良素行」不僅定義模糊，並將許多微小行為如未盡撫養義務等，都納入規定範圍，一旦違反就不許歸化，甚至有些新移民因夫妻爭吵被舉報假結婚，也會被撤銷國籍，淪為無國籍者。
                       </p>
                     </div>
                     <div class="swiper-slide" class="LawBad">
                       <img src="pics/素行不良-20.png" alt="BehaviorLawBadTitle" class="LawBadTitle">
                       <h2 class="lawSubTitle">五年內違反則喪失國籍</h2>
                       <img src="pics/lawpic/五年內違法.gif" alt="ViolenceLawBadPic" class="LawBadPicSmall">
                       <img src="pics/lawpic/素行不良撤銷身份.gif" alt="ViolenceLawBadPic" class="LawBadPicSmall">
                       <p class="LawBadWord">
                         依《國籍法》第19條：「新移民歸化、喪失或回復中華民國國籍後，五年內發現有與本法之規定不合情形，應予撤銷。」這讓國家能在五年內，以剝奪公民權做為威脅及懲罰手段，讓違反素行不良條規或因故破產的新移民喪失國籍，嚴重侵害人權。
                       </p>
                     </div>
                     <div class="swiper-slide" class="LawGood">
                       <img src="pics/素行不良-21.png" alt="BehaviorLawGoodTitle" class="LawGoodTitle">
                       <h2 class="lawSubTitle">訂定明確犯法標準</h2>
                       <img src="pics/lawpic/明定刑事案件.gif" alt="BehaviorLawGoodPic" class="LawGoodPic">
                       <p class="LawGoodWord">Behavior Law Good</p>
                     </div>
                     <div class="swiper-slide" class="LawGood">
                       <img src="pics/素行不良-21.png" alt="BehaviorLawGoodTitle" class="LawGoodTitle">
                       <h2 class="lawSubTitle">制定合理行政救濟</h2>
                       <img src="pics/lawpic/行政救濟.gif" alt="BehaviorLawGoodPic" class="LawGoodPic">
                       <p class="LawGoodWord">Behavior Law Good</p>
                     </div>
                 </div>
                   <div class="swiper-pagination swiper-pagination-v"></div>
               </div>
           </div>
           <div class="swiper-slide" style="height: 1740px;">
             <div class="swiper-container swiper-container-v">
               <!--Violience Story-->
               <div class="swiper-wrapper" id="Violence">
                   <div class="swiper-slide" class="StoryIntro">
                     <img src="pics/家庭暴力.png" alt="ViolenceTitle" class="StoryTitle">
                     <img src="pics/violence.gif" rel:animated_src="pics/violence.gif" width="600" height="600" rel:auto_play="1" rel:rubbable="1" / alt="ViolencePic" class="StoryPic">
                     <p class="IntroWord">
                       安安23歲時嫁來台灣，期盼幸福新生活。婚後，她希望能外出工作賺錢，但先生嚴厲禁止，並限制其對外通訊管道，不允許她和新移民朋友相聚。生下孩子後，情況每況愈下，先生常在酒後毆打她，更會辱罵小孩。無法繼續忍氣吞聲的她，開始尋找社會資源，希望爭取到孩子監護權，與續留台灣的合法居留權。
                     </p>
                   </div>
                   <div class="swiper-slide" class="LawBad">
                     <img src="pics/家庭暴力-20.png" alt="ViolenceLawBadTitle" class="LawBadTitle">
                     <h2 class="lawSubTitle">家暴離婚被迫回國</h2>
                     <img src="" alt="ViolenceLawBadPic" class="LawBadPic">
                     <p class="LawBadWord">
                       依現行《入出國及移民法》第31條，新移民配偶遭家暴離婚而無未成年子女監護權時，居留期滿就必須離境；即使取得子女監護權，只要沒有歸化成功或取得永久居留身分，也只能合法在台居留到子女20歲。
                     </p>
                   </div>
                   <div class="swiper-slide" class="LawBad">
                     <img src="pics/家庭暴力-20.png" alt="ViolenceLawBadTitle" class="LawBadTitle">
                     <h2 class="lawSubTitle">取得監護權困難重重</h2>
                     <img src="pics/lawpic/家庭暴力收入不足.png" alt="ViolenceLawBadPic" class="LawBadPicSmall">
                     <img src="pics/lawpic/家庭暴力無工作.png" alt="ViolenceLawBadPic" class="LawBadPicSmall">
                     <p class="LawBadWord">
                       然而，取得子女監護權對新移民配偶來說是困難重重。因為若其沒有謀生能力，或收入不足以支付保母費時，法官不會將監護權判給新移民配偶。若被遣送回國，離婚的新住民配偶只能定期來台探訪子女。
                     </p>
                   </div>
                   <div class="swiper-slide" class="LawGood">
                     <img src="pics/家庭暴力-21.png" alt="ViolenceLawGoodTitle" class="LawGoodTitle">
                     <img src="pics/lawpic/家庭暴力修改法律1.gif" alt="ViolenceLawGoodPic" class="LawGoodPicSmall">
                     <img src="pics/lawpic/居留證.png" alt="ViolenceLawGoodPic" class="LawGoodPicSmall">
                     <p class="LawGoodWord">
                       放寬離婚新移民配偶的居留權條件，若其取得子女監護權，不限制其只能合法在台居留到子女20歲便須備遣送回國。
                     </p>
                   </div>

               </div>
                 <div class="swiper-pagination swiper-pagination-v"></div>
             </div>
           </div>
       </div>
       <!-- Add Pagination -->
       <div class="swiper-pagination swiper-pagination-h"></div>
   </div>
